
/*menu*/
header{
    position: fixed;
    z-index: 15;
}
header .col-2 test1 img{
    width: 170px;
}
header .col-1 img{
    width: 45px;
}

/*partie text d'accueil*/

.col-10{
    margin: 4%;
}
.col-10 h2{
    color: #00A65A;
}
.col-10 p{
   color: #000000;
}

.col-6 p{
   color: red;
   text-align: center;
}
#text-bas{
    border-top: solid 3px #00A65A;
    padding-top: 49px;
    margin-top: 80px;
}